<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Form</h1>    
    <form action="{% url 'reg_page' %}" method="post">
        {% csrf_token %}
        <input type="text" required placeholder="First Name" name="f_name">
        <input type="text" required placeholder="Last Name" name="l_name">
        <input type="email" required placeholder="Email" name="email">
        <input type="password" required placeholder="Password" name="password">
        <input type="password" required placeholder="Confirm Password" name="c_password">
        <button type="submit">Register</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>